#mainPanel{
    display: grid;
    grid-template-columns: 30vw 486px;
}

#controls{
    display: grid;
    grid-column-start: 1;
    margin-right: 10px;
}

#mainBlock{
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    grid-column-start: 2;
    border-style: solid;
}

.colouring{
    height: 30px;
    width: 30px ;
    background-color: blue;
}
.colouring:hover{
    background-color: black;
}